ul {
  list-style: none;
  text-align: center;
  font-size: 3vw;
  margin: 0;
  padding: 0;
  padding-top: 5vh;
  padding-bottom: 10vh;
  background-color: #76949F;
}

h2 {
  font-size: 2vw;
  text-align: center;
  margin:0;
  color: white;
  margin-bottom: 1em;
}

.TaskInput {
  display: flex;
  margin: 1em auto;
  width: 50%;
  height: 1em;
  border: 2px solid #435860;
  border-radius: 15px;
}
.TaskInput input { 
  flex: 1;
  border-radius: 15px 0 0 15px;
  border: 0;
  padding-left: 1em;
}
.TaskInput input:focus {
  outline: none;
}
.TaskInput button { 
  border-radius: 0 15px 15px 0;
  border: 0;
  background-color: #F7F7FF;
  transition: 1s;
  padding: 0 1em;
}
.TaskInput button:focus { 
  outline: none;
}
.TaskInput button:hover {
  background-color: #EBEBFF;
}

li {
  color: white;
  background-color: #435860;
  transition: 400ms;
  width: 50%;
  margin: 0 auto;
}
ul li:not(:last-child) {
  border-bottom: 2px solid #111618;
}
ul li:nth-child(2) {
  border-radius: 15px 15px 0 0;
}
ul li:last-child {
  border-radius: 0 0 15px 15px;
}
ul li:last-child:nth-child(2) {
  border-radius: 15px;
}
li:hover {
  padding: .5em 0;
}

@media screen and (max-width: 600px) {
  ul {
    font-size: 5vw;
  }
  li {
    width: 90%;
    padding: .5em 0;
  }
  li:hover {
    padding: 1em 0;
  }
  ul li:nth-child(2) {
    border-radius: 7.5px 7.5px 0 0;
  }
  ul li:last-child {
    border-radius: 0 0 7.5px 7.5px;
  }
}