.TimerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.digit {
  font-size: 10vw;
}
.sec {
  margin-left: .25em;
}
.TimerWrapper p {
  color: gray;
}