footer {
  text-align: center;
  background-color: #76949F;
  margin: 0;
  padding: 1em;
}
p {
  background-color: white;
  width: fit-content;
  margin: 0 auto;
  padding: 1em;
  border-radius: 15px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}